<th:block th:fragment="title">
    <title>숙소 등록</title>
</th:block>

<th:block th:fragment="css">
</th:block>

<th:block th:fragment="content">
    <div class="accommodation-form-section">
        <h2>숙소 등록</h2>

        <form method="post" enctype="multipart/form-data" class="accommodation-form">
            <div class="form-group">
                <label for="name">객실 이름</label>
                <input type="text" id="name" placeholder="객실 이름 입력" required>
            </div>

            <div class="form-group">
                <label for="numberOfRooms">객실 개수</label>
                <input type="number" id="numberOfRooms" placeholder="객실 개수 입력" required>
            </div>

            <div class="form-group">
                <label for="pricePerNight">금액</label>
                <input type="number" id="pricePerNight" placeholder="숙소 금액 입력" required>
            </div>

            <div class="form-group">
                <label for="capacity">인원 수</label>
                <input type="number" id="capacity" name="capacity" placeholder="예: 3" required>
            </div>

            <div class="form-group">
                <label for="description">설명</label>
                <input type="text" id="description" placeholder="설명 입력" required>
            </div>

            <div class="form-actions">
                <button type="button" onclick="regRoom();">등록하기</button>
            </div>
        </form>
    </div>

    <script>
        //객실 등록
        function regRoom() {
            const name = $('#name').val();
            const numberOfRooms = $('#numberOfRooms').val();
            const pricePerNight = $('#pricePerNight').val();
            const capacity = $('#capacity').val();
            const description = $('#description').val();
            const stayId = [[${stayId}]];

            if (!name) {
                alert("이미지를 첨부해주세요.");
                return;
            }
            if (!pricePerNight) {
                alert("이름을 입력해주세요.");
                return;
            }
            if (!capacity) {
                alert("주소를 입력해주세요.");
                return;
            }
            if (!description) {
                alert("숙소타입을 선택해주세요.");
                return;
            }

            $.ajax({
                url: "/admin/room",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    name: name,
                    numberOfRooms: numberOfRooms,
                    pricePerNight: pricePerNight,
                    capacity: capacity,
                    description: description,
                    stayId: stayId
                }),
                success: function(data) {
                    alert("등록이 완료되었습니다.")
                    window.location = "/admin/room/list?stayId=" + stayId;
                },
                error: function(xhr) {
                    if (xhr.responseJSON && xhr.responseJSON.detail) {
                        alert(xhr.responseJSON.detail);
                    } else {
                        alert("알 수 없는 오류가 발생했습니다.");
                    }
                }
            })
        }
    </script>
</th:block>
