<th:block th:fragment="title">
    <title>객실 관리</title>
</th:block>

<th:block th:fragment="css">
    <link rel="stylesheet" href="/css/admin/adminStayList.css">
</th:block>

<th:block th:fragment="content">
    <section class="accommodation-section">
        <h2>객실 목록</h2>
        <button class="register-btn" onclick="location.href='/admin/room/regPage'">+ 등록하기</button>

        <table class="accommodation-table">
            <thead>
            <tr>
                <th>번호</th>
                <th>객실 명</th>
                <th>최대 인원</th>
                <th>가격</th>
                <th>설명</th>
                <th>관리</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>일반객실</td>
                <td>3명</td>
                <td>30000 원</td>
                <td>침대1 TV1</td>
                <td>
                    <button>수정</button>
                    <button>삭제</button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</th:block>