<th:block th:fragment="title">
  <title>숙소 관리</title>
</th:block>

<th:block th:fragment="css">
  <link rel="stylesheet" href="/css/admin/adminStayList.css">
</th:block>

<th:block th:fragment="content">
  <section class="accommodation-section">
    <h2>숙소 목록</h2>
    <button class="register-btn" onclick="location.href='/admin/stay/regPage'">+ 등록하기</button>

    <table class="accommodation-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>숙소명</th>
        <th>위치</th>
        <th>유형</th>
        <th>등록일</th>
        <th>관리</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="stay, iterStat : ${adminStayList}">
          <td th:text="${iterStat.index + 1}">1</td>
          <td th:text="${stay.name}">테스트호텔</td>
          <td th:text="${stay.location}">서울특별시</td>
          <td th:text="${stay.type}">HOTEL</td>
          <td th:text="${#temporals.format(stay.regDt, 'yyyy-MM-dd')}">2025-05-12</td>
          <td>
            <button type=button th:onclick="'goRoomList(' + ${stay.id} + ')'">객실 상세보기</button>
            <button type=button th:onclick="'updateStay(' + ${stay.id} + ')'">수정</button>
            <button type=button th:onclick="'deleteStay(' + ${stay.id} + ')'">삭제</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <script>
    //객실 리스트 이동
    function goRoomList(id) {
      window.location = "/admin/room/list?stayId=" + id;
    }

    //숙소 수정 이동
    function updateStay(stayId) {
      window.location="/admin/stay/updatePage?stayId=" + stayId;
    }

    //숙소 삭제
    function deleteStay(stayId) {
      const result = confirm("정말 삭제하시겠습니까?");
      if (!result) {
        return;
      }

      $.ajax({
        url: "/admin/stay/" + stayId,
        type: "DELETE",
        success: function(data) {
          alert("삭제가 완료되었습니다.");
          location.reload();
        },
        error: function(xhr) {
          alert("삭제 중 오류 발생: " + xhr.responseText);
        }
      });
    }
  </script>
</th:block>