<th:block th:fragment="title">
  <title>숙소 관리</title>
</th:block>

<th:block th:fragment="css">
  <link rel="stylesheet" href="/css/admin/adminStayList.css">
</th:block>

<th:block th:fragment="content">
  <section class="accommodation-section">
    <h2>숙소 목록</h2>
    <button class="register-btn" onclick="location.href='/admin/stay/regPage'">+ 등록하기</button>

    <table class="accommodation-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>숙소명</th>
        <th>위치</th>
        <th>유형</th>
        <th>등록일</th>
        <th>관리</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="stay, iterStat : ${adminStayList}">
          <td th:text="${iterStat.index + 1}">1</td>
          <td th:text="${stay.name}">테스트호텔</td>
          <td th:text="${stay.location}">서울특별시</td>
          <td th:text="${stay.type}">HOTEL</td>
          <td th:text="${#temporals.format(stay.regDt, 'yyyy-MM-dd')}">2025-05-12</td>
          <td>
            <button type=button th:onclick="'goRoomList(' + ${stay.id} + ')'">객실 상세보기</button>
            <button>수정</button>
            <button>삭제</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <script>
    function goRoomList(id) {
      window.location = "/admin/room/list?stayId=" + id;
    }
  </script>
</th:block>