<th:block th:fragment="title">
    <title>ROOMY 관리자페이지</title>
</th:block>

<th:block th:fragment="css">
</th:block>

<th:block th:fragment="content">
    <!-- 메인 콘텐츠 -->

        <header class="admin-header">
            <h1>관리자 대시보드</h1>
        </header>

        <section class="dashboard">
            <div class="card">
                <h3>총 숙소 수</h3>
                <p>12개</p>
            </div>
            <div class="card">
                <h3>오늘 예약 수</h3>
                <p>5건</p>
            </div>
            <div class="card">
                <h3>총 회원 수</h3>
                <p>102명</p>
            </div>
        </section>
    </main>
</th:block>