
<th:block th:fragment="title">
    <title>강의실 대여 목록</title>
</th:block>

<th:block th:fragment="css">
    <link rel="stylesheet" href="/css/reservation/stayList.css">
</th:block>

<th:block th:fragment="content">
    <div class="accommodation-wrapper">
        <div class="accommodation-container">
            <h2>숙소 목록</h2>
            <div class="accommodation-list">
                <div class="accommodation-card">
                    <img src="/images/accommodation/image.jpg" alt="101호 강의실 사진">
                    <h3>메이호텔</h3>
                    <p>최대 수용 인원: 30명</p>
                    <p>50,000원 ~</p>
                    <button onclick="goInfoPage();">예약하기</button>
                </div>
                <div class="accommodation-card">
                    <h3>202호 세미나실</h3>
                    <p>최대 수용 인원: 20명</p>
                    <p>화상 회의 시스템</p>
                    <button>예약하기</button>
                </div>
                <div class="accommodation-card">
                    <h3>303호 강의실</h3>
                    <p>최대 수용 인원: 50명</p>
                    <p>빔프로젝터, 마이크</p>
                    <button>예약하기</button>
                </div>
                <div class="accommodation-card">
                    <h3>303호 강의실</h3>
                    <p>최대 수용 인원: 50명</p>
                    <p>빔프로젝터, 마이크</p>
                    <button>예약하기</button>
                </div>
                <div class="accommodation-card">
                    <h3>303호 강의실</h3>
                    <p>최대 수용 인원: 50명</p>
                    <p>빔프로젝터, 마이크</p>
                    <button>예약하기</button>
                </div>
                <div class="accommodation-card">
                    <h3>303호 강의실</h3>
                    <p>최대 수용 인원: 50명</p>
                    <p>빔프로젝터, 마이크</p>
                    <button>예약하기</button>
                </div>
                <div class="accommodation-card">
                    <h3>303호 강의실</h3>
                    <p>최대 수용 인원: 50명</p>
                    <p>빔프로젝터, 마이크</p>
                    <button>예약하기</button>
                </div>
                <div class="accommodation-card">
                    <h3>303호 강의실</h3>
                    <p>최대 수용 인원: 50명</p>
                    <p>빔프로젝터, 마이크</p>
                    <button>예약하기</button>
                </div>
                <div class="accommodation-card">
                    <h3>303호 강의실</h3>
                    <p>최대 수용 인원: 50명</p>
                    <p>빔프로젝터, 마이크</p>
                    <button>예약하기</button>
                </div>
                <div class="accommodation-card">
                    <h3>303호 강의실</h3>
                    <p>최대 수용 인원: 50명</p>
                    <p>빔프로젝터, 마이크</p>
                    <button>예약하기</button>
                </div>
                <div class="accommodation-card">
                    <h3>303호 강의실</h3>
                    <p>최대 수용 인원: 50명</p>
                    <p>빔프로젝터, 마이크</p>
                    <button>예약하기</button>
                </div>
                <div class="accommodation-card">
                    <h3>303호 강의실</h3>
                    <p>최대 수용 인원: 50명</p>
                    <p>빔프로젝터, 마이크</p>
                    <button>예약하기</button>
                </div>
                <div class="accommodation-card">
                    <h3>303호 강의실</h3>
                    <p>최대 수용 인원: 50명</p>
                    <p>빔프로젝터, 마이크</p>
                    <button>예약하기</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function goInfoPage() {
            window.location = "/stay/info";
        }
    </script>
</th:block>
