
<th:block th:fragment="title">
    <title>강의실 대여 목록</title>
</th:block>

<th:block th:fragment="css">
    <link rel="stylesheet" href="/css/reservation/stayList.css">
</th:block>

<th:block th:fragment="content">
    <div class="accommodation-wrapper">
        <div class="accommodation-container">

            <h2>숙소 목록</h2>
            <div class="accommodation-list">
                <th:block th:if="${userStayList != null and !#lists.isEmpty(userStayList)}">
                    <div th:each="userStayList : ${userStayList}" class="accommodation-card">
                        <img th:src="@{${userStayList.filePath}}" alt="101호 강의실 사진">
                        <h3 th:text="${userStayList.name}">숙소이름</h3>
                        <p>최대 수용 인원: 30명</p>
                        <p>50,000원 ~</p>
                        <button onclick="goInfoPage();">예약하기</button>
                    </div>
                </th:block>

                <div th:if="${userStayList == null or #lists.isEmpty(userStayList)}">
                    <p>데이터가 없습니다.</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function goInfoPage() {
            window.location = "/stay/info";
        }
    </script>
</th:block>
