<!-- layout/layout.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="~{login/login :: title}">Roomy</title>
    <!--<link rel="stylesheet" href="/css/layout.css"> &lt;!&ndash; 공통 CSS &ndash;&gt;-->
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>
<!-- 공통 헤더 -->
<div th:replace="~{layout/header :: header}"></div>

<!-- 본문 내용 -->
<main>
    <div th:replace="${content}"></div>
</main>

<!-- 공통 푸터 -->
<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>
