<!-- layout/header.html -->
<div th:fragment="header">
    <header>
        <div class="container">
            <a href="/" style="text-decoration: none;"><h1 class="logo">ROOMY</h1></a>
            <nav>
                <ul id="loginMenu" style="display: none">
                    <li><a href="/signup">회원가입</a></li>
                    <li><a href="/login">로그인</a></li>
                </ul>
                <ul id="logoutMenu" style="display: none">
                    <li id="admin"><a href="/admin/main">관리자페이지</a></li>
                    <li id="welcome"> ~ 님 환영합니다 </li>
                    <li><a href="" type="button" onclick="logout(); return false;">로그아웃</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <script>
        //jwt 검증
        $().ready(function () {
            const token = localStorage.getItem("accessToken");

            if (token) {
                $.ajax({
                    url: "/member/validateToken",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "JSON",
                    data: JSON.stringify({
                        token: token
                    }),
                    success: function (data) {

                        $("#welcome").text(data.name + " 님 환영합니다");
                        $("#loginMenu").hide();
                        $("#logoutMenu").show();

                        if (data.role === 'ADMIN') {
                            $('#admin').show();
                        } else {
                            $('#admin').hide();
                        }
                    },
                    error: function (xhr) {
                        if (xhr.responseJSON && xhr.responseJSON.detail) {
                            alert(xhr.responseJSON.detail);
                        } else {
                            $("#welcome").text("");
                            $("#loginMenu").show();
                            $("#logoutMenu").hide();
                        }
                    }
                })
            } else {
                $("#welcome").text("");
                $("#loginMenu").show();
                $("#logoutMenu").hide();
            }

        });

        //로그아웃
        function logout() {
            localStorage.removeItem("accessToken");
            location.reload();
        }
    </script>
</div>
